.container {
  height: calc(100% - 7rem);
  width: 100%; 
  /* background-color: red; */
  /* background-size: 100;  
  background-repeat: none;  */
}

.img {
  height: 85%;
  width: 100vw;
  background-image: url('../assets/img-pc.jpg');
  background-repeat: none;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: -3;
  filter: blur(6px);   
}

.homecontainer {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px 0px;
 
  
}

.title {
  font-weight: 400;
  color: var(--appWhite);
}

.subtitle {
  font-size: 4rem;
}

.linkcontainer {
  display: flex;
  gap: 10px;
}

.linkcontainer a { color:white } 
.linkcontainer a:visited { text-decoration: none; color:white; }
.linkcontainer a:hover { text-decoration: none; color:white; }
.linkcontainer a:focus { text-decoration: none; color:white; }
.linkcontainer, a:active { text-decoration: none; color:white }


.btnprojects {  
  color: white;
  /* background-color: var(--appRed); */
}

.btnprojects,
.btncontact {
  height: 3rem;
  width: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  border: solid white 2px;
  border-radius: 50px;  
  text-decoration: none;  
  user-select: none;
  cursor: pointer;
}

.btncontact:hover {
  background-color: rgba(255, 255, 255, 0.321);
}

.btnprojects:hover {
  background-color: rgba(255, 255, 255, 0.321);
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 3.5rem;
  }

  .btnprojects,
  .btncontact {
    height: 2.5rem;
    width: 10rem;
  }

  /* .container {
  height: calc(50% - 7rem);
  width: 50%;  
  }

  .homecontainer {
  height: calc(50% - 6.5rem);
  width: 50%;
  } */

}