.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient( 20deg, var(--appBrown)50%,var(--appVeige)50%);
}

.aboutcontainer{
  height: fit-content;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.imgcontainer {
  width: 100%;
  display: flex;
  gap: 10px; 
}

.hi {
  display: flex;
  align-items: center;
  width: 300px;
  font-size: 20px;  
}

.aboutcontainer p {
  font-size: 16px;
  padding: 1px 10px;
}

.img {
  height: 200px;
  width: 200px;
  position: relative;
  margin-left: 25px;
  z-index: 2;  
}

.mask {
  height: 40px;
  width: 22rem;
  font-size: larger;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--appWhite);
  background-color: var(--appRed);
  padding: 0px 15px;
  position: absolute;
  top: 220px;
  left: 15px;
  z-index: 1;
}

.aboutcontainer p{
  margin-top: 15px;
  font-weight: 500;
}

.knowledgecontainer {
  height: fit-content;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap:15px;
  padding: 10px 20px;
  
}

@media screen and (max-width: 700px) {  
  .container {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;    
    background: linear-gradient( 65deg, var(--appBrown)50%,var(--appVeige)50%);
  }

  .aboutcontainer{
    height: fit-content;    
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 10px;
  }

  .imgcontainer {
    width: 100%;
    margin-top: 30px;
    display: flex;
    gap: 10px;      
  }

  .hi {    
    display: flex;
    align-items:flex-start;
    width: 150px;
    font-size: 20px;  
    padding-top: 30px;
  }

  .mask {
    height: 40px;
    width: 85%;
    font-size: larger;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--appWhite);
    background-color: var(--appRed);
    padding: 0px 15px;
    position: absolute;
    top: 200px;
    left: 10px;
    z-index: 1;
  }

  .aboutcontainer p {
    font-size: 15px;
    margin-top: 15px;
    font-weight: 500;
  }

  .img {
    height: 200px;
    width: 200px;
    position: relative;
    margin-left: 30px;
    z-index: 2;
  }

  .knowledgecontainer {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap:15px;
    padding: 30px 10px;
    margin-top: 0;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 100%;
    background: linear-gradient( 70deg, var(--appBrown)50%,var(--appVeige)50%);
  }
  
  .aboutcontainer {
    height: fit-content;
    width: 100%;
    margin-top: 0;
  }

  .hi {
    display: flex;
    align-items:flex-start;
    width: 150px;
    font-size: 18px;
    font-weight: 500;  
    padding-top: 30px;
  }
  
  .img {
    height: 150px;
    width: 150px;
    position: relative;
    margin-left: 15px;
    z-index: 2;  
  }
  
  .mask {
    height: 30px;
    width: 90%;
    font-size: larger;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--appWhite);
    background-color: var(--appRed);
    padding: 0px 15px;
    position: absolute;
    top: 190px;
    left: 10px;
    z-index: 1;
  }

  .aboutcontainer p{
    width: 100%;
    margin-top: 15px;
    padding: 5px;
    font-weight: 500;
  }

  .knowledgecontainer {
    height: fit-content;
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap:15px;
    padding: 25px 5px;    
  } 
}