.header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; 
  z-index: 3;
  flex: 3;
  background-color: var(--appGreen);
  box-shadow: 3px 3px 4px var(--appDarkGreen);
}

.logo {
  height: 30px;
  background-color: var(--appWhite);
  border-radius: 50%;
}

.menucontainer{
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.navmenu {
  display: flex; 
  justify-content: flex-end;
  gap: 15px;
}

.navmenu > li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navmenu > li > a{
  height: 34px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;  
  user-select: none;
  color: var(--appBlack);
  background-color: transparent;
  border: solid 2px var(--appBlack);
  border-radius: 50px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navmenu li a:hover {
  background-color: #fffcf274; 
}

.navmenu li a:visited { text-decoration: none; color: var(--appBlack); }
.navmenu li a:focus { text-decoration: none; color:var(--appBlack); } 
.navmenu li a:hover, a:active { text-decoration: none; color:var(--appBlack); }

.hamcontainer {
 cursor: pointer;  
}

.hamburger {
  height: 30px;
  width: 30px;
  display: none; 
}  

.times {
  height: 30px;
  width: 30px;
  display: none;  
}  


@media screen and (max-width: 700px) {
  .navmenu {
    width: 100%;
    height: 55%;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    position: absolute;
    top: 90px;
    left: -100%;   
    border-top: 10px solid var(--appWhite);
    border-bottom: 10px solid var(--appWhite);
    background-color: var(--appGreen);
    transition: 0.3s; 
    padding: 15px 0px;  
  }

  .navmenuact {
    left: 0;
  }

  .navmenu li {    
    padding: 5px 0;
    
  }  

  .navmenu > li > a{
    font-size: 24px;  
    background-color: transparent; 
    border: none; 
  } 

  .navmenu > li > a:hover {
    background-color: #fffcf276;
  }

  .hamcontainer {
   margin-right: 15px;
  } 
  
  .hamburger {
    display: initial;  
  }
  
  .times {
    display: initial;  
  } 
}